In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('data/Minjust2018.csv', 
                 header=None, 
                 usecols=[4, 27, 28, 33])
df.fillna('', inplace=True)
df.rename(columns={4: 'name', 
                   27: 'director', 
                   28: 'activity', 
                   33: 'founders'},
              inplace = True)

In [3]:
def child_regex(surname, name):
    pattern = re.compile(surname +
                         r'а?\s+\w+\s+' + # First name
                         remove_vowels(name) + # Patronymic
                         r'|' + 
                         r'\w+\s+' + # First name
                         remove_vowels(name) + r'\w+\s+' + # Patronymic
                         surname,
                         re.IGNORECASE)
    return pattern

def remove_vowels(name):
    while True:
        if name[-1] not in ['а', 'о', 'и', 'е', 'ё', 'э', 'ы', 'у', 'ю', 'я', 'й']:
            break
        else:
            name = name[: -1]
    return name

In [10]:
df.loc[df['founders'].str.contains(child_regex('Суракматов', 'Азиз'))]

,name,director,activity,founders
78963,"Общество с ограниченной ответственностью ""Стол...",Джумалиев Джайлообек,Строительство жилых и нежилых зданий,"Суракматов Айдар Азизович, Суракматова Гульбар..."
79928,"Общество с ограниченной ответственностью ""Аген...",Омурзаков Анвар Раимбекович,Деятельность агентств по операциям с недвижимы...,"Суракматова Гульбара, Суракматов Айдар Азизович"
95188,"Общество с ограниченной ответственностью ""Стро...",Тынымсеитова Нуржан Мырзагуловна,Строительство жилых и нежилых зданий,"Суракматов Айдар Азизович, Суракматова Гульбар..."

In [12]:
df.loc[78963, 'name']

'Общество с ограниченной ответственностью "Столица Строй"'