In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('data/Minjust2018.csv', 
                 header=None, 
                 usecols=[4, 27, 28, 33])
df.fillna('', inplace=True)
df.rename(columns={4: 'name', 
                   27: 'director', 
                   28: 'activity', 
                   33: 'founders'},
              inplace = True)

In [11]:
def child_regex(surname, patronymic):
    pattern = re.compile(surname +
                         r'а?\s+\w+\s+' + # First name
                         remove_vowels(patronymic) + # Patronymic
                         r'|' + 
                         r'\w+\s+' + # First name
                         remove_vowels(patronymic) + r'\w+\s+' + # Patronymic
                         surname,
                         re.IGNORECASE)
    return pattern

def remove_vowels(patronymic):
    while True:
        if patronymic[-1] not in ['а', 'о', 'и', 'е', 'ё', 'э', 'ы', 'у', 'ю', 'я', 'й']:
            break
        else:
            patronymic = patronymic[: -1]
    return patronymic

In [12]:
df.loc[df['founders'].str.contains(child_regex('Суракматов', 'Эмильбекович'))]

,name,director,activity,founders
69975,"ОсОО ""ЭКСИМКО"" (ИУ-Казахстан)",Суракматов Азат Эмильбекович,,"Кулова Салтанат Темирбековна, Нарымбекова Инди..."
106538,"Общество с ограниченной ответственностью ""New ...",Турганов Эркинбек Токтобекович,Оптовая неспециализированная торговля,"Суракматов Азат Эмильбекович, Тургунов Эркинбе..."

In [10]:
df['founders'][69975]

'Кулова Салтанат Темирбековна, Нарымбекова Индира Сериковна, Суракматов Азат Эмильбекович'